.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  min-height: 105vh;
}

.row {
  margin: 0px;
  padding: 0px;
}

.sidebar {
  min-width: 200px;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: #232323;
  height: 100vh;
  overflow-y: auto;
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
}

.sidebar .header {
  height: 50px;
  background-color: #f0f4f8;
}

.sidebar .sidebar-content {
  height: 90vh;
  overflow-y: auto;
}

.hide-sidebar {
  width: 55px;
  min-width: 55px;
}

.sidebar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  margin: 5px;
  padding: 5px 8px;
  border-radius: 5px;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  width: 90%;
  outline: none;
  border: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar-item .icon {
  min-width: 35px;
  font-size: 1.5em;
  margin-right: 5px;
}

.sidebar-item:hover {
  background-color: white;
  color: #1e1e1e;
}

.sidebar-item .title {
  padding-left: 5px;
}

.sidebar-item-active {
  background-color: #2196f3;
  color: white;
}

.sidebar-item-active:hover {
  background-color: #2196f3 !important;
  color: white !important;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content .navbar {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.content .navbar .navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 10px;
}

.content .body {
  padding: 5px;
}

.card {
  margin: 1%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.header {
  width: 100%;
  padding: 5px;
  background-color: whitesmoke;
}

.section {
  padding: 5px;
  height: 200px;
  overflow: auto;
}

.section2 {
  padding: 5px;
  height: 70vh;
  overflow: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1%;
}

.btn {
  border-radius: 5px;
  font-size: 1em;
}

.chat-box {
  background-color: #ddeaf7;
  min-height: 50px;
  margin-top: 5px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  text-align: right;
  -webkit-box-shadow: 0xp 0px 5px whitesmoke;
          box-shadow: 0xp 0px 5px whitesmoke;
}

.center {
  margin: auto;
  width: 70%;
}

/* Ripple effect */
.ripple {
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
}

.ripple:hover {
  background: whitesmoke radial-gradient(circle, transparent 1%, whitesmoke 1%) center/15000%;
}

.ripple:active {
  background-color: #bebebe;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.notification-btn {
  margin-right: 20px;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
  color: black;
  -webkit-transition: .2s background ease-in-out;
  transition: .2s background ease-in-out;
}

.notification-btn:hover {
  background-color: whitesmoke;
  color: black;
}

.notification-btn .notification {
  background-color: #90d824;
  color: white;
  border-radius: 100%;
  text-align: center;
  height: 20px;
  width: 20px;
  position: absolute;
  top: -10px;
}

.profile-pic {
  border-radius: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  border: 1px solid whitesmoke;
  -webkit-box-shadow: 0px 0px 5px whitesmoke;
          box-shadow: 0px 0px 5px whitesmoke;
}

*::-webkit-scrollbar {
  width: 7px !important;
  background-color: white;
}

*::-webkit-scrollbar-thumb {
  background: whitesmoke;
}

.alert-box {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alert-box .message {
  text-align: center;
}

.alert-box .background {
  background-color: white;
  padding: 5% 10%;
  border-radius: 1%;
}

.alert-box .close {
  position: absolute;
  top: 5px;
  font-size: 3em;
}
/*# sourceMappingURL=dashboard_styles.css.map */