@import "variables.scss";

.page{
    display: flex;
    padding: 0;
    margin: 0;
    background-color: $shadow;
    min-height: 105vh;
}

.row{
    margin: 0px;
    padding: 0px;
}

//sidebar
.sidebar{
    min-width: 200px;
    overflow-x: hidden;
    transition: all .4s ease-in-out;
    background-color: rgb(35, 35, 35);
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: -5px;

    .header{
        height: 50px;
        background-color: rgb(240, 244, 248);
    }
}
.hide-sidebar{
    width: 55px;
    min-width: 55px;
}

.sidebar-item{
    display: flex;
    overflow-x: hidden;
    margin: 5px;
    padding: 5px 8px;
    border-radius: 5px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    width: 90%;
    outline: none;
    border: none;

    .icon{
        min-width: 35px;
        font-size: 1.5em;
        margin-right: 5px;
    }  
    
    &:hover{
        background-color: white;
        color: rgb(30, 30, 30);
    }

    .title{
    }
}

.sidebar-item-active{
    background-color: #2196f3;
    color: white;

    &:hover{
        background-color: #2196f3 !important;
        color: white !important;
    }
}
.content{
    flex-grow: 1;
    .navbar{
        padding: 10px;
        display: flex;
        background-color: white;
        position: sticky;
        top: 0;
        z-index: 5;
        overflow: hidden;

        .navbar-right{
            display: flex;
            position: absolute;
            right: 10px;
        }
    }

    .body{
        padding: 5px;
    }
}

.card{
    margin: 1%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.header{
    width: 100%;
    padding: 5px;
    background-color: $shadow;
}

.section{
    padding: 5px;
    min-height: 200px;
    overflow: auto;
}

.chat-box{
    background-color: rgb(246, 233, 248);
    min-height: 50px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    text-align: right;
    box-shadow: 0xp 0px 5px $shadow;
}

.center{
    margin: auto;
    width: 70%;
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
background: $shadow 
        radial-gradient(circle, transparent 1%, $shadow 1%) center/15000%;
}
.ripple:active {
background-color: rgb(190, 190, 190);
background-size: 100%;
transition: background 0s;
}

.notification-btn{
    margin-right: 20px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer;
    color: black;
    transition: .2s background ease-in-out;

    &:hover{
        background-color: $shadow;
        color: black;
    }
    .icon{

    }
    .notification{
        background-color: rgb(144, 216, 36);
        color: white;
        border-radius: 100%;
        text-align: center;
        height: 20px;
        width: 20px;
        position: absolute;
        top: -10px;
    }
}

.profile-pic{
    border-radius: 100%;
    position: absolute;
    top: 0px;
    left: 0;
}