<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{devotion.title}}</title>

	{% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard_styles.css' %}">

    <style>
        body{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div>
        {% if devotion.background %}
        <img src="{{ devotion.background.url }}" alt="devotion" style="width:100%;">
        {% endif %}
        <p style="text-align: center; position: absolute; top: 5px;">{{devotion.content | safe}}</p>
    </div>
</body>
</html>