<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donations</title>

	{% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/res_dashboard_styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/mdb.min.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
    
    <style>
        body{
            margin: 5px;
            padding: 0;
        }

        span{
            font-size: 1.5em !important;
        }
    </style>
</head>
<body>
    <div class="center card">
        <div class="m-1">
            <h3 class="text text-center" style="color: #410d6b;"><strong> You can send your tithes, donations, and offerings through:</strong></h3>
            <p class="text text-center"> <span class="badge badge-secondary">028 888 8888</span></p>
            <p class="text text-center"> <span class="badge badge-secondary">028 888 8888</span></p>
        </div>
    </div>
    <hr>

    <div class="center card">
        <div class="m-1">
            <h4 class="text text-center" style="color: #410d6b;"><strong>Follow the following steps:</strong></h4>
            <p>Step 1: Dial *170#</p>
            <p>Step 2: Select 1. Transfer Money</p>
            <p>Step 3: Select 1. Momo User</p>
            <p>Step 4: Enter 022222222</p>
            <p>Step 5: Enter 022222222</p>
            <p>Step 6: Enter your Amount</p>
            <p>Step 7: Enter reference (e.g. Offering, Tithe, Donation etc)</p>
            <p>Step 8: Enter your mobile money PIN</p>
        </div>
    </div>
</body>
</html>