{% extends "dashboard/base_template.html" %}
{% block dashboard-active %}sidebar-item-active{% endblock dashboard-active %}

{% block body %}
<h5>Dashboard</h5>

<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="card">card</div>
        
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="card">card</div>
        
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="card">card</div>
        
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="card">card</div>
        
    </div>
</div>
{% endblock body %}