{% extends "dashboard/base_template.html" %}
{% block notifications-active %}sidebar-item-active{% endblock notifications-active %}

{% block body %}
    <h4> <span class="fa fa-bell"></span> NOTIFICATIONS</h4>
    <hr>
    <div class="center card">
        <div class="header"><h4>Send New notification</h4></div>
        <form action="{% url 'dashboard:notifications' %}" method="post" class="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <br>
                    <input required class="form-control" name="title" type="text" placeholder="Title">
                </div>
                <br>
                <div class="col-md-6">
                    <textarea required class="form-control" name="message" type="text" placeholder="Message"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary"><span class="fa fa-paper-plane"></span> SEND</button>
        </form>
    </div>
    
    <hr>
    <div class="center card">
        <div class="header"><h4>Previous Notifications</h4></div>
        <div class="section">
            <table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
                <thead style="position: sticky; top: 40px;">
                    <tr>
                        <th class="th-md"><h4>Title</h4></th>
                        <th class="th-md"><h4>Message</h4></th>
                        <th class="th-md"><h4>Date</h4></th>
                    </tr>
                </thead>
                <tbody>
                    {% for notification in notifications %}
                <tr>
                    <td><h5>{{notification.title}}</h5></td>
                    <td><h5>{{notification.message}}</h5></td>
                    <td><h5>{{notification.date|date:'D N j'}}</h5></td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock body%}