{% extends "dashboard/base_template.html" %}
{% block testimonies-active %}sidebar-item-active{% endblock testimonies-active %}

{% block body %}
    <h4 class="bold"> <span class="fa fa-paper-plane"></span> TESTIMONIES</h4>
    <hr>
    {% csrf_token %}
    <div class="center card">
        <div class="header"><h4>New Testimonies</h4></div>
        <div class="section">
            {% if not new_testimonies %} 
                <h3 class="text text-secondary">No new testimonies</h3>
            {% else %}
                <table class="table table-striped" cellspacing="0" width="100%">
                    <thead style="position: sticky; top: 40px;">
                        <tr>
                            <th class="th-md"><h4>User</h4></th>
                            <th class="th-md"><h4>Testimony</h4></th>
                            <th class="th-md"><h4>Date</h4></th>
                            <th class="th-md"><h4>Action</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for testimony in new_testimonies %}
                    <tr>
                        <td><h5>{{testimony.user.profile.full_name}}</h5></td>
                        <td><h5>{{testimony.testimony}}</h5></td>
                        <td><h5>{{testimony.date|date:'D N j, P'}}</h5></td>
                        <td><button 
                            data-pk="{{testimony.pk}}"
                            onclick="updateTestimonyViewStatus(this)"
                            class="btn btn-info"><span class="fa fa-check"></span></button></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

    <hr>
    <div class="center card">
        <div class="header"><h4>Old Testimonies</h4></div>
        <div class="section">
            {% if not old_testimonies %} 
                <h3 class="text text-secondary">No old testimonies</h3>
            {% else %}
                <table class="table table-striped" cellspacing="0" width="100%">
                    <thead style="position: sticky; top: 40px;">
                        <tr>
                            <th class="th-md"><h4>User</h4></th>
                            <th class="th-md"><h4>Request</h4></th>
                            <th class="th-md"><h4>Date</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for testimony in old_testimonies %}
                    <tr>
                        <td><h5>{{testimony.user.profile.full_name}}</h5></td>
                        <td><h5>{{testimony.testimony}}</h5></td>
                        <td><h5>{{testimony.date|date:'D N j'}}</h5></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="form-group">
            <p class="text text-right m-1"><a href="{% url 'dashboard:testimony_list' %}">Read</a></p>
        </div>
    </div>
{% endblock body%}